.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e9ecef;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #007bff;
  color: #ffffff;
  padding: 14px 28px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 123, 255, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 15px;
}

.button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.input {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 30px;
  border: 2px solid #007bff;
  margin-top: 10px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:focus {
  border-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 86, 179, 0.5);
}

.text {
  max-height: 200px;
  overflow: hidden;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  padding: 20px;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 1.5;
  color: #333333;
  width: 90%;
}

.text-transition {
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
